*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f8ff;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:linear-gradient(180deg,#2196f3,#1565c0);
    color:white;
    padding:30px 20px;

    position:fixed;
    top:0;
    left:0;
    height:100vh;
    overflow-y:auto;
}

.sidebar h2{
    text-align:center;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:16px 18px;
    margin-bottom:12px;
    border-radius:14px;
    cursor:pointer;
}

.sidebar li:hover,
.sidebar li.active{
    background:rgba(255,255,255,0.2);
    transform:translateX(8px);
}

.main-content{
    flex:1;
    margin-left:260px;
    padding:30px 40px;
}

.topbar{
    position:sticky;
    top:0;
    z-index:100;

    display:flex;
    align-items:center;
    gap:30px;

    padding:20px 0;
    background:#f5f8ff;
    border-bottom:2px solid #e5eaf5;
}
.topbar input{
    width:380px;
    padding:14px 18px;
    border:1px solid #ccc;
    border-radius:15px;
}

.avatar-box{
    margin-left:auto;
}

.avatar-box img{
    width:70px;
    height:70px;
    border-radius:50%;
}

.welcome{
    margin-top:30px;
}

.welcome h1{
    font-size:40px;
}

.welcome p{
    margin-top:10px;
    color:#666;
}

.history-table{
    margin-top:40px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#eaf4ff;
    padding:18px;
}

td{
    padding:18px;
    border-top:1px solid #eee;
    text-align:center;
}

.import,
.export{
    padding:8px 14px;
    border-radius:20px;
    color:white;
}

.import{
    background:#2ecc71;
}

.export{
    background:#e74c3c;
}