body{
  margin:0;
  font-family:Arial;
  background:#d9e7e5;
}

.landing{
  width: 100%;
  height: 100vh;

  background-image: url('../assets/images/quanlykho.jpg');
  background-size: cover; /* phun full màn hình */
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVBAR */

.navbar{
  display:flex;
  align-items:center;
  padding:25px 50px;
  gap:40px;
}

.menu-left{
  font-size:28px;
  cursor:pointer;
}

.menu-left img{
  width:60px;
  height:60px;
  object-fit:cover;
  cursor:pointer;
  border-radius:50%;
}

.menu-links{
  display:flex;
  gap:45px;
}

.dropdown{
  position:relative;
}

.dropdown-content{
  display:none;
  position:absolute;
  top:35px;
  left:0;
  background:white;
  color:black;
  min-width:250px;
  padding:15px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  z-index:10;
}

.dropdown:hover .dropdown-content{
  display:block;
}

.menu-links a{
  text-decoration:none;
  color:white;
  font-size:24px;
  font-weight:500;
  transition:0.3s;
}

.menu-links a:hover{
  color:#dcd3ff;
}


.auth-buttons{
  margin-left:auto;
  display:flex;
  gap:20px;
}

.auth-btn{
  width:150px;
  height:48px;
  border:none;
  background:#a79adf;
  color:white;
  border-radius:12px;
  cursor:pointer;
  font-size:18px;
  font-weight:bold;
  box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

/* CONTENT */
.landing-content{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:30px 70px;
  min-height:80vh;
}

.text{
  width:35%;
  z-index:2;
  margin-top:-120px;
}

.text h1{
  font-size:90px;
  color:white;
  margin-bottom:25px;
}

.text p{
  font-size:28px;
  line-height:1.6;
  color:white;
  max-width:600px;
}

/* POPUP */
.modal{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.hidden{
  display: none;
}

.modal-box{
  width: 420px;
  background: white;
  padding: 35px;
  border-radius: 20px;
  position: relative;
}

.modal-box h2{
  text-align: center;
  margin-bottom: 20px;
}

.modal-box input{
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.modal-box button{
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: none;
  background: #a79adf;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.close{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
}

.switch-form{
  margin-top:20px;
  text-align:center;
}

.switch-form span{
  color:#7b68ee;
  font-weight:bold;
  cursor:pointer;
}

.switch-form span:hover{
  text-decoration:underline;
}